@import "tailwindcss";

body {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(109, 0, 160, 1) 50%,
    rgba(174, 0, 255, 1) 100%
  );
}
